@use "../helpers/1-helpers" as helper;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;

  // main nav
  .nav {
    position: relative;
    padding: 10px 15px;
    width: 100%;
    display: grid;
    grid-template-columns: 50px 5fr 3fr;

    // resizing width of children's
    @include helper.tablet {
      grid-template-columns: 50px 5fr 1fr;
    }

    &__img {
      align-self: center;
    }

    &__search {
      display: flex;
      align-items: center;

      &:hover {
        .search__bar {
          border: 1px solid #999;
          border-left-color: transparent;
        }
        .search__icon {
          border: 1px solid #999;
          border-right-color: transparent;
        }
      }

      .search__icon {
        padding: 14px;
        font-size: 2.9rem;
        background-color: #eeee;
        color: #555;
        border: 1px solid transparent;
        border-radius: 12px 0 0 12px;
        transform: translateX(1px);
        cursor: pointer;
      }

      .search__bar {
        padding: 15px;
        flex: 1;
        background-color: #eeee;
        outline: none;
        border: 1px solid transparent;
        border-radius: 0 12px 12px 0;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-around;
      transition: color ease 1s;

      // hide links for tablet size
      @include helper.tablet {

        li {
          display: none;
        }
        
        :last-child, :nth-child(5) {
          display: initial;
          margin-left: .5rem;
        }
      }

      :nth-child(5) :first-child {
        padding: 5px;
        font-size: 2rem;
        border-radius: 50%;
        color: lighten($color: #000000, $amount: 65);
        background-color: lighten($color: #000000, $amount: 80);
      }

      li:nth-child(3) {
        border: 1px solid #999;
        padding: 0.4rem;
        border-radius: 6px;

        &:hover {
          border: 1px solid #444;
        }
      }

      li:last-child {
        font-size: 1.3rem;
      }
    }

    // bars links wil show user click
    .shadow {
      filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.3));
      position: absolute;
      z-index: 2;
      right: 1.8%;
      top: 40px;

      .nav-bar__links {
        padding-top: 2.3rem;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        width: 580px;
        height: 370px;
        text-transform: capitalize;
        clip-path: polygon(96% 3%, 98% 0%, 100% 3%, 100% 100%, 0% 100%, 0% 5%);
        background-color: #fff;
        animation: links ease 0.5s forwards;

        .links {
          li {
            padding: 0.2rem 0;
          }

          .main-link {
            color: #000;
            font-weight: 600;
            cursor: auto;

            span {
              margin-left: 0.3rem;
            }
          }

          .social-links {
            display: flex;

            li {
              font-size: 1.1rem;
              margin-right: 0.5rem;
            }
          }
        }
      }
    }
  }

  // down nav links shows categorized photos
  .nav-down {
    padding: 15px;
    display: flex;
    gap: 15px;
    background-color: #fff;

    .user-nav {
      display: flex;
      gap: 15px;
      border-right: 2px solid rgba(0, 0, 0, 0.3);

      :nth-child(2) {
        padding-right: 1rem;
      }
    }

    .nav-types {
      position: relative;
      overflow: hidden;

      .categories {
        display: flex;
        gap: 25px;
        overflow: scroll;

        /* Hide scrollbar for IE, Edge and Firefox */
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */

        &::-webkit-scrollbar {
          display: none;
        }

        li {
          white-space: nowrap;
        }
      }

      // arrows for sliding functionality
      .arrow {
        position: absolute;
        top: 0;
        width: 10%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 1.8rem;
        color: #999;
        cursor: pointer;

        &:hover {
          color: #444;
        }
      }

      .right-arrow {
        right: 0;
        justify-content: end;
        background: linear-gradient(to left, white 20%, transparent);
      }

      .left-arrow {
        left: 0;
        background: linear-gradient(to right, white 20%, transparent);
      }
    }
  }
}
